:root {
  --color-white: #FFFFFF;
  --color-ofwhite: #DCDFE4;
--color-grey: #8A959C;
  --color-dark: #0F211A;
  --color-blue: #3A6B69;

  --color-green: #ADAB76;
  --color-mustard: #CFB96F;
  --color-grass: #666B3A;
  --icon-margin: 1rem;
}
