
@import "./styles/variables.css";
@import "./styles/theme.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    'Ubuntu'
    sans-seri;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
   background-size: cover;
   font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
